<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <center>
                <div style="font-size: 40px;font-weight: bold;">Opzzzz..</div>
                <img style="width: 50%;" src="/assets/404.png" />
                <div>
                    <a class="btn btn-primary" href="/admin">Ke Dashboard</a>
                </div>
            </center>
        </div>
    </div>
</div>