<div id="content">
    <div class="container-fluid" id="container-wrapper">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Menu Profil</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Home</a></li>
                <li class="breadcrumb-item">Menu Peraturan</li>
            </ol>
        </div>
        <div>
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-12">
                    <a href="/admin/tambah-menu-profil.html" class="btn btn-primary mb-1">Tambah Menu Profil</a>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <table id="dataTableHover" class="table">
                                <thead>
                                    <tr style="background: #6777EF; color:#fff;">
                                        <th>No</th>
                                        <th>Judul Menu Profil</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% let i=1; for(data of data){%>
                                        <tr>
                                            <td>
                                                <%=i%>
                                            </td>
                                            <td>
                                                <%=data.judul%>
                                            </td>
                                            <td style="text-align: right;">
                                                <a onclick="return confirm('Apakah anda ingin hapus data ini?')"
                                                    href="/admin/hapus-menu-profil.html?id_menu_profil=<%=data.id_menu_profil%>"
                                                    class="btn btn-danger">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                                <a href="/admin/tambah-menu-profil.html?id_menu_profil=<%=data.id_menu_profil%>&target=edit"
                                                    class="btn btn-success">
                                                    Edit Data
                                                </a>
                                            </td>
                                        </tr>
                                        <%i++;}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>