<div id="content">
    <div class="container-fluid" id="container-wrapper">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Profil Walikota</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profil Walikota</li>
            </ol>
        </div>
        <div>
            <div class="card mb-2 col-lg-8" style="margin: auto;">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                </div>
                <div class="card-body">
                    <form action="" enctype="multipart/form-data" method="POST">
                        <div class="form-group">
                            <label for="judul">Nama</label>
                            <input placeholder="Nama lengkap" class="form-control" autocomplete="off" type="text"
                                name="nama" value="<%=(typeof data.nama!==" undefined")?data.nama:''%>" required />
                        </div>
                        <div class="form-group">
                            <label for="judul">Masukkan isi profil</label>
                            <textarea placeholder="Masukkan profil" id="isi"
                                name="isi"><%=(typeof data.isi!==" undefined" )?data.isi:''%></textarea>
                        </div>
                        <div id="v-img">
                            <img src="<%= isImage? '/images/profil-walikota?size=200':''%>" id="hasil-crop" />
                        </div>
                        <div class="form-group">
                            <label for="judul">Masukkan Foto Walikota</label>
                            <div class="custom-file">
                                <input type="file" name="foto" class="custom-file-input" id="file">
                                <label class="custom-file-label" for="customFile">Pilih File</label>
                            </div>
                            <div style="display: none;">
                                <input type="text" name="imgX1" id="imgX1" />
                                <input type="text" name="imgY1" id="imgY1" />
                                <input type="text" name="imgWidth" id="imgWidth" />
                                <input type="text" name="imgHeight" id="imgHeight" />
                            </div>
                        </div>

                        <button type="submit" name="simpan_data" class="btn btn-primary">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    <link rel="stylesheet" href="/jcrop/css/jquery.Jcrop.min.css" type="text/css" />
    <script src="/jcrop/js/jquery.Jcrop.min.js"></script>

    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#hasil-crop').attr('src', e.target.result);
                    var size;
                    $('#hasil-crop').Jcrop({
                        aspectRatio: 1 / 1,
                        setSelect: [50, 0, 300, 300],
                        allowResize: false,
                        onChange: SetCoordinates,
                        onSelect: SetCoordinates
                    });
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        function SetCoordinates(c) {
            var ratioW = $('#hasil-crop')[0].naturalWidth / $('#hasil-crop').width();
            var ratioH = $('#hasil-crop')[0].naturalHeight / $('#hasil-crop').height();
            var currentRatio = Math.min(ratioW, ratioH);

            $('#imgX1').val(Math.round(c.x * currentRatio));
            $('#imgY1').val(Math.round(c.y * currentRatio));
            $('#imgWidth').val(Math.round(c.w * currentRatio));
            $('#imgHeight').val(Math.round(c.h * currentRatio));
        }


        $(function () {
            $('#isi').summernote({
                tabsize: 3,
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                ],
                placeholder: 'Ketikkan keterangan lokasi disini',
                height: '200'
            });

            $("#file").change(function () {
                $('#v-img').html('   <img src="" id="hasil-crop" style="width:500px;"/>')
                readURL(this);
            });

        })
    </script>
</div>