<div id="content">

    <div class="container-fluid" id="container-wrapper">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Slide Show</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Home</a></li>
                <li class="breadcrumb-item"><a href="/index.php/admin/slide_show">Slide Show</a></li>
            </ol>
        </div>
        <div>
            <a href="/admin/tambah-slide-show.html" class="btn btn-primary mb-1">Tambah Slide Show</a>
            <div class="card mb-2 col-lg-12" style="margin: auto;">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                </div>
                <div class="card-body">
                    <table id="table" class="table">
                        <thead>
                            <tr style="font-weight: bold;">
                                <td>No</td>
                                <td>Image Slide</td>
                                <td>Label</td>
                                <td>Aksi</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% let i=1; for(data of data){%>
                                <tr>
                                    <td>
                                        <%=i%>
                                    </td>
                                    <td>
                                        <img style="border-radius:3px;"
                                            src="/images/slide-show?size=60&target=<%=data.id_slide_show%>" />
                                    </td>
                                    <td>
                                        <%=data.label%>
                                    </td>
                                    <td>
                                        <a onclick="return confirm('Apakah anda ingin hapus data ini?')"
                                            href="/admin/delete-slide-show.html?id_slide_show=<%=data.id_slide_show%>"
                                            class="btn btn-outline-danger mb-1">Hapus</a>
                                    </td>
                                </tr>
                                <%i++;}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>