</style>
<div class="container-fluid">
    <div class="row">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="border-radius:10px">
                    <img style="width: 100%;border-radius:00px;"
                        src="https://dp3a.baubaukota.go.id/index.php/images/slide_show?w=1300&h=1300&f=6671145910" />
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>

<br />
<div style=" background: #FF8243;">
    <div class="container">
        <div class="row">
            <div style="color:#fff;padding-top:50px; 
                 padding-bottom: 50px;" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <div style="font-size:50px; font-weight: bold;">
                    Aplikasi SIGA Kota Baubau Tersedia Untuk Pengguna Android
                </div>
                <div>
                    Download Aplikasi Siga Kota Baubau di playstore
                </div>
                <br />
                <a href="https://play.google.com/store/apps/details?id=com.lxbuton.perlindungan.anak.sigakotabaubau"
                    style="background:#50A4ED;" class="btn btn-primary btn-lg">Download Sekarang</a>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <br />
                <br />
                <br />
                <br />
                <img style="" src="/assets/img.png">
                <br />
                <br />
            </div>
        </div>
    </div>
</div>