<div style="height: 20px;"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div style="font-weight: bold; font-size: 25px;">
                <%=data.judul%>
            </div>
            <div>
                <%-data.isi%>
            </div>

        </div>
        <div class="col-lg-4">
            <%- include('layout/partial-page/sidebar.ejs')%>
        </div>
    </div>
</div>