<footer>

    <div class="footer-bottom-area">
        <div class="container">
            <div class="row" style="padding:30px;">
                <div class="col-lg-4">
                    <a class="twitter-timeline"
                        href="https://twitter.com/kpp_pa?ref_src=twsrc%5Etfw&height=400&theme=dark">Tweets by
                        Perberdayaan
                        Perempuan dan Perlindungan Anak</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="col-lg-4" style="color:#FFF;font-size: 13px; ">
                    <h5 style="color:#FFF;">Website Dinas Pemberdayaan Perempuan dan Perlindungan Anak Kota Baubau</h5>
                    <div style="text-align: justify;">
                        <div style="width: 100%">
                            <!--                            <iframe width="100%"
                                                                                                                            height="200"
                                                                                                                            frameborder="0" scrolling="no"
                                                                                                                            marginheight="0" marginwidth="0"
                                                                                                                            src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Jl.%20Ahmad%20Yani%20No.21,%20Tomba,%20Wolio,%20Kota%20Bau-Bau,%20Sulawesi%20Tenggara%2093717+(bau-bau)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>-->
                            <a href="https://www.maps.ie/draw-radius-circle-map/"></a>
                        </div>


                        Dinas Pemberdayaan Perempuan dan Anak Kota Baubau,
                        membidangi isu-isu terkait uapaya-upaya untuk mewujudkan
                        Pemberdayaan Perempuan dan Perlindungan Anak dan mempunyai tugas menyelenggarakan urusan
                        pemerintahan
                        di bidang pemberdayaan perempuan dan perlindungan anak
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="small-12 medium-4 large-4 columns" style="color:#fff;">

                        <h5 style="color:#fff;">Kontak</h5>
                        <ul style="color: #FFF;" class="menu vertical address-text">
                            <li>
                                <a href="https://basarnas.go.id/kontak#panel-kansar-1"><span class="label success">
                                        <i class="fa fa-link"></i> Halaman Kontak
                                    </span>
                                </a>
                            </li>
                            <li>
                                <small style="color:#fff;">
                                    <p style="color:#fff;">Jalan Cut Nyak Dian No.1</p>

                                    <p style="color:#fff;">Keluarahan Batulo, Kecamatan Wolio</p>
                                    <p style="color:#fff;">Batulo, Kota Baubau, Sulawesi Tenggara</p>

                                    <p>
                                        <br>
                                    </p>
                                </small>
                            </li>
                        </ul>
                        <h5 style="color:#fff;">Telp &amp; Fax</h5>
                        <ul class="menu vertical">
                            <li>
                                <small>Office : -</small><br />

                            </li>
                            <li>
                                <small>Fax : -</small>
                            </li>
                        </ul>
                        <h5 style="color:#fff;">Email</h5>
                        <ul class="menu vertical">
                            <li>
                                <a href="mailto:dp3akotabaubau@gmail.com">
                                    <small style="color:#fff;">dp3akotabaubau@gmail.com
                                    </small>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>