<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Perlindungan Anak dan Pemberdayaan Perempuan Kota Baubau</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/icon.ico">

  <!-- CSS here -->
  <link rel="stylesheet" href="/template/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/template/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/template/assets/css/ticker-style.css">
  <link rel="stylesheet" href="/template/assets/css/flaticon.css">
  <link rel="stylesheet" href="/template/assets/css/slicknav.css">
  <link rel="stylesheet" href="/template/assets/css/animate.min.css">
  <link rel="stylesheet" href="/template/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="/template/assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/template/assets/css/themify-icons.css">
  <link rel="stylesheet" href="/template/assets/css/slick.css">
  <link rel="stylesheet" href="/template/assets/css/nice-select.css">
  <link rel="stylesheet" href="/template/assets/css/style.css">

  <script src="/template/assets/js/vendor/jquery-1.12.4.min.js"></script>
  <style>
    html body {
      background: #F7F7F7;
    }
  </style>
</head>

<body>

  <!-- Preloader Start -->
  <!-- <div id="preloader-active">
                                                                                        <div class="preloader d-flex align-items-center justify-content-center">
                                                                                            <div class="preloader-inner position-relative">
                                                                                                <div class="preloader-circle"></div>
                                                                                                <div class="preloader-img pere-text">
                                                                                                    <img src="/template/assets/img/logo/logo.png" alt="">
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div> -->
  <!-- Preloader Start -->


  <%- include("partial-page/header.ejs")%>
    <link rel="stylesheet" href="/Swiper-master/dist/css/swiper.min.css">
    <style>
      .swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* background: #000; */

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
    </style>
    <%- body%>
      <!-- Swiper JS -->
      <script src="/Swiper-master/dist/js/swiper.min.js"></script>

      <!-- Initialize Swiper -->
      <script>
        var swiper = new Swiper('.swiper-container', {
          pagination: '.swiper-pagination',
          nextButton: '.swiper-button-next',
          prevButton: '.swiper-button-prev',
          slidesPerView: 1,

          autoplay: 2500,
          paginationClickable: true,
          spaceBetween: 30,
          loop: true,

        })
      </script>
      <hr />
      <div class="container">
        <div class="row">
          <div class="col-lg-9">



            <style>
              .nav-tabs .nav-item.show .nav-link,
              .nav-tabs .nav-link.active {
                color: #FFF;
                background: red;
                border: 0px solid #FFF;
              }

              a.nav-tabs .nav-item.show .nav-link,
              .nav-tabs .nav-link.active {
                color: #FFF;
                font-weight: bold;
                background: red;
                border: 0px solid #FFF;
              }
            </style>
            <style>
              #c1 {
                transition: transform 250ms;
              }

              #c1:hover {
                transform: translateY(-20px);
              }

              @keyframes shake {

                10%,
                90% {
                  transform: translate3d(-1px, 0, 0);
                }

                20%,
                80% {
                  transform: translate3d(2px, 0, 0);
                }

                30%,
                50%,
                70% {
                  transform: translate3d(-4px, 0, 0);
                }

                40%,
                60% {
                  transform: translate3d(4px, 0, 0);
                }
              }
            </style>
            <div>
              <div>
                <div style="margin-bottom:10px;">
                  <img style="width:100%; border-radius: 2px;"
                    src="https://dp3a.baubaukota.go.id/index.php/images/banner?f=2778413492&w=500&h=500" />
                </div>
              </div>
              <h5>Artikel Terkini</h5>
              <div class="row">

                <div class="col-lg-4" style="margin-top:15px;">
                  <a
                    href="/index.php/site/baca/id/7933475895/label/dinas-pemberdayaan-perempuan-dan-perlindungan-anak-kota-baubau-terima-penghargaan-dan-raih-poin-tertinggi-dalam-indeks-inovasi-daerah-kota-baubau-tahun-2022-.html">
                    <div id="c1">
                      <img style="width:100%; border-top-left-radius: 5px;
                                                     border-top-right-radius: 5px;
                                                     "
                        src="https://dp3a.baubaukota.go.id/index.php/images/berita?w=300&h=300&f=7933475895" />
                      <div
                        style="font-size: 13px;background:#F55C47; padding: 4px; color: #fff;font-weight: bold; padding-left: 5px;">
                        18 Agustus 2023 </div>
                      <div
                        style="padding:10px; font-size: 12px; height: 90px;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;background: #575757; color: #FFF; font-weight: BOLD;">
                        DINAS PEMBERDAYAAN PEREMPUAN DAN PERLINDUNGAN ANAK KOTA BAUBAU TERIMA PENGHARGAAN DAN RAIH POIN
                        TERTINGGI DALAM INDEKS INOVASI DAERAH KOTA BAUBAU TAHUN 2022 </div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4" style="margin-top:15px;">
                  <a
                    href="/index.php/site/baca/id/5629993421/label/dinas-pemberdayaan-perempuan-dan-perlindungan-anak-kota-baubau-lakukan-pelatihan-manajemen-kasus-terhadap-perlindungan-perempuan-dan-anak.html">
                    <div id="c1">
                      <img style="width:100%; border-top-left-radius: 5px;
                                                     border-top-right-radius: 5px;
                                                     "
                        src="https://dp3a.baubaukota.go.id/index.php/images/berita?w=300&h=300&f=5629993421" />
                      <div
                        style="font-size: 13px;background:#F55C47; padding: 4px; color: #fff;font-weight: bold; padding-left: 5px;">
                        28 Juli 2023 </div>
                      <div
                        style="padding:10px; font-size: 12px; height: 90px;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;background: #575757; color: #FFF; font-weight: BOLD;">
                        DINAS PEMBERDAYAAN PEREMPUAN DAN PERLINDUNGAN ANAK KOTA BAUBAU LAKUKAN PELATIHAN MANAJEMEN KASUS
                        TERHADAP PERLINDUNGAN PEREMPUAN DAN ANAK </div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4" style="margin-top:15px;">
                  <a href="/index.php/site/baca/id/1359263519/label/program-verifikasi-isbat-nikah-tahun-2023.html">
                    <div id="c1">
                      <img style="width:100%; border-top-left-radius: 5px;
                                                     border-top-right-radius: 5px;
                                                     "
                        src="https://dp3a.baubaukota.go.id/index.php/images/berita?w=300&h=300&f=1359263519" />
                      <div
                        style="font-size: 13px;background:#F55C47; padding: 4px; color: #fff;font-weight: bold; padding-left: 5px;">
                        13 April 2023 </div>
                      <div
                        style="padding:10px; font-size: 12px; height: 90px;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;background: #575757; color: #FFF; font-weight: BOLD;">
                        PROGRAM VERIFIKASI ISBAT NIKAH TAHUN 2023 </div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4" style="margin-top:15px;">
                  <a
                    href="/index.php/site/baca/id/1177241630/label/dp3a-kota-baubau-mendapat-penghargaan-perencana-terbaik-ke--3-se-kota-baubau.html">
                    <div id="c1">
                      <img style="width:100%; border-top-left-radius: 5px;
                                                     border-top-right-radius: 5px;
                                                     "
                        src="https://dp3a.baubaukota.go.id/index.php/images/berita?w=300&h=300&f=1177241630" />
                      <div
                        style="font-size: 13px;background:#F55C47; padding: 4px; color: #fff;font-weight: bold; padding-left: 5px;">
                        16 Maret 2023 </div>
                      <div
                        style="padding:10px; font-size: 12px; height: 90px;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;background: #575757; color: #FFF; font-weight: BOLD;">
                        DP3A Kota Baubau mendapat Penghargaan Perencana Terbaik ke- 3 Se-Kota Baubau </div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4" style="margin-top:15px;">
                  <a href="/index.php/site/baca/id/9198739156/label/orientasi-forum-anak-kota-baubau.html">
                    <div id="c1">
                      <img style="width:100%; border-top-left-radius: 5px;
                                                     border-top-right-radius: 5px;
                                                     "
                        src="https://dp3a.baubaukota.go.id/index.php/images/berita?w=300&h=300&f=9198739156" />
                      <div
                        style="font-size: 13px;background:#F55C47; padding: 4px; color: #fff;font-weight: bold; padding-left: 5px;">
                        16 Maret 2023 </div>
                      <div
                        style="padding:10px; font-size: 12px; height: 90px;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;background: #575757; color: #FFF; font-weight: BOLD;">
                        ORIENTASI FORUM ANAK KOTA BAUBAU </div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4" style="margin-top:15px;">
                  <a
                    href="/index.php/site/baca/id/6257386122/label/pedoman-standar-pusat-pembelajaran-keluarga-(puspaga).html">
                    <div id="c1">
                      <img style="width:100%; border-top-left-radius: 5px;
                                                     border-top-right-radius: 5px;
                                                     "
                        src="https://dp3a.baubaukota.go.id/index.php/images/berita?w=300&h=300&f=6257386122" />
                      <div
                        style="font-size: 13px;background:#F55C47; padding: 4px; color: #fff;font-weight: bold; padding-left: 5px;">
                        23 Oktober 2021 </div>
                      <div
                        style="padding:10px; font-size: 12px; height: 90px;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;background: #575757; color: #FFF; font-weight: BOLD;">
                        PEDOMAN STANDAR PUSAT PEMBELAJARAN KELUARGA (PUSPAGA) </div>
                    </div>
                  </a>
                </div>
              </div>

            </div>


            <div>
              <style>
                /* Style the tab */
                .tab {

                  font-weight: bold;
                  overflow: hidden;
                  /*border: 1px solid #ccc;*/
                  background-color: #535353;
                  color: #fff;
                }

                /* Style the buttons inside the tab */
                .tab button {
                  background-color: inherit;
                  float: left;
                  border: none;
                  color: #fff;
                  outline: none;
                  cursor: pointer;
                  padding: 14px 16px;
                  transition: 0.3s;
                  font-size: 17px;
                }

                /* Change background color of buttons on hover */
                .tab button:hover {
                  background-color: #ddd;
                }

                /* Create an active/current tablink class */
                .tab button.active {
                  font-weight: bold;
                  background-color: red;
                  color: #FFF;
                }

                /* Style the tab content */
                .tabcontent {
                  display: none;
                  padding: 6px 12px;
                  /*border: 1px solid #ccc;*/
                  border-top: none;
                }

                .agr {
                  text-align: center;
                  background: #003F50;
                  color: #FFF;
                  height: 100px;
                  border-radius: 3px;
                  display: block;
                }
              </style>


              <hr />
              <div class="container">
                <div style="font-weight:bold;text-align: center;">
                  Mitra Dinas Pemberdayaan Perempuan dan Perlindungan Anak
                </div>
                <br />
                <div class="row">
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=8856523410" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS KOMINFO KOTA BAUBAU
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=8788699883" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            KECAMATAN LEA-LEA
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=8976261411" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            KECAMATAN BUNGI
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=6280511524" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            KECAMATAN SORAWOLIO
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=5385912457" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            KECAMATAN KOKALUKUNA
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=1377628182" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            KECAMATAN BATUPOARO
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=5667078521" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            KECAMATAN MURHUM
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=1509686537" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            KECAMATAN BETOAMBARI
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=1663440422" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            KECAMATAN WOLIO
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=3439815497" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            IMIGRASI KELAS II NON TPI KOTA BAUBAU
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=6512967000" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            LEMBAGA PEMASYARAKATAN (LAPAS) KELAS II A KOTA BAUBAU
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=6759351484" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            PENGADILAN NEGERI BAUBAU
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=9109690015" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            KESBANG POL KOTA BAUBAU
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=2806594660" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            BADAN NARKOTIKA NASIONAL KOTA BAUBAU
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=1015803973" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            BADAN PUSAT STATISTIK KOTA BAUBAU
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=7937502784" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS PERIKANAN DAN KELAUTAN KOTA BAUBAU
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=2855683046" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            BADAN PERENCANAAN DAN PEMBANGUNAN DAERAH KOTA BAUBAU
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=5998540638" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            BASARNAS KOTA BAUBAU
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=3283063691" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            PENGADILAN AGAMA KOTA BAUBAU
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=3945519173" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            POLISI RESORT KOTA BAUBAU
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=6012172232" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS KOPERASI DAN UMKM
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=5463516069" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS LINGKUNGAN HIDUP
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=7910242991" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS PEMUDA DAN OLAHRAGA
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=6654936750" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS TENAGA KERJA
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=4039867559" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            BAPAS KELAS II BAUBAU
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=2258146930" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            KEJAKSAAN NEGERI BAUBAU
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=5851117234" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS PEKERJAAN UMUM PENATAAN RUANG
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=1525704013" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS PERDAGANGAN DAN PERINDUSTRIAN
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=2201207211" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            BADAN PERTANAHAN NASIONAL
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=5924265023" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS PERUMAHAN DAN KAWASAN PEMUKIMAN
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=3189146095" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS KEPENDUDUKAN DAN PENCATATAN SIPIL
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=9317223096" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS PENDIDIKAN DAN KEBUDAYAAN
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=1300257133" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS PERPUSTAKAAN DAN KEARSIPAN
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=4714465458" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS PERTANIAN DAN KETAHANAN PANGAN
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=8817484785" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            SATUAN POLISI PAMONG PRAJA
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=8217468352" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            BADAN PENELITIAN DAN PENGEMBANGAN DAERAH
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=2095997712" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            BADAN PENDAPATAN DAERAH
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=7701108275" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS PARIWISATA
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=9683277480" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS PENANAMAN MODAL DAN PTSP
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=8719842928" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            INSPEKTORAT DAERAH
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=1082709462" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            BADAN KEPEGAWAIAN DAN PENGEMBANGAN SUMBER DAYA MANUSIA
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=7392036803" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS PERHUBUNGAN
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=8547223426" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            KEMENTERIAN AGAMA
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=7525003575" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            RUMAH SAKIT UMUM DAERAH
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=2752194742" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS PEKERJAAN UMUM PENATAAN RUANG
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=2154385579" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS PENGENDALIAN PENDUDUK DAN KB
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=8064718999" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DPRD KOTA BAUBAU
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=4668342847" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS SOSIAL
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=6789922671" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS PEMBERDAYAAN PEREMPUAN DAN PERLINDUNGAN ANAK
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=5157195250" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            BADAN PENANGGULANGAN BENCANA DAERAH
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=4636860395" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS KESEHATAN
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="margin-top:15px;" class="col-lg-3">
                    <div style="text-align:center;">
                      <img src="https://dp3a.baubaukota.go.id/index.php/images/logo?w=80&h=80&f=7854317399" />

                    </div>
                    <div class="agr" style=" margin-top: -30px; padding: 10px;">
                      <table style="width:100%; height: 100%;">
                        <tr>
                          <td style="font-size:13px;">
                            <br />
                            DINAS PEMADAM KEBAKARAN DAN PENYELAMATAN
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <hr />


              <script>
                function openCity(evt, cityName) {
                  var i, tabcontent, tablinks;
                  tabcontent = document.getElementsByClassName("tabcontent");
                  for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                  }
                  tablinks = document.getElementsByClassName("tablinks");
                  for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                  }
                  document.getElementById(cityName).style.display = "block";
                  evt.currentTarget.className += " active";
                }

                // Get the element with id="defaultOpen" and click on it
                document.getElementById("defaultOpen").click();
              </script>
            </div>

          </div>
          <div class="col-lg-3">

            <div>
              <div style="text-align:center;">
                <img style="width:60%;border-radius:100%;text-align: center;"
                  src="https://dp3a.baubaukota.go.id/index.php/images/profil_walikota?w=300&h=300&f=profil" />
              </div>
              <div
                style="margin-top: -90px;border-radius: 10px;padding:10px;color:#FFF; background:#030098;font-weight:bold;text-align: center; ">
                <br /><br />
                <br /><br />
                Walikota Baubau
                <div style="color:#FFF;">
                  <br />

                  LA ODE AHMAD MONIANSE <div style="font-weight: normal; font-size: 11px;">
                    WALIKOTA BAUBAU </div>
                  <div style="text-align:center;">
                    <a href="/index.php/site/lihat_walikota">Selengkapnya</a>
                  </div>

                </div>
              </div>
            </div>
            <hr />
            <div>
              <div style="text-align:center;">
                <img style="width:60%;border-radius:100%;text-align: center;"
                  src="https://dp3a.baubaukota.go.id/index.php/images/profil_kepala_dinas?w=300&h=300&f=profil" />
              </div>
              <div
                style="margin-top: -90px;padding:10px;border-radius:10px;color:#FFF; background:#FF0000;font-weight:bold;text-align: center; ">
                <br /><br />
                <br /><br />
                Kepala Pemberdayaan Perempuan dan Perlindungan Anak
                <div style="color:#FFF;font-size: 11px;">
                  <br />

                  ABDUL RAHMAN, S.Pd., M.Si. <div style="font-weight: normal;">
                    Kepala Dinas Pemberdayaan Perempuan dan Perlindungan Anak Kota Baubau </div>
                  <div style="text-align:center;">
                    <a href="/index.php/site/lihat_kepala_dinas">Selengkapnya</a>
                  </div>

                </div>
              </div>
            </div>
            <hr />
            <div style="background:#0052C2; padding: 10px; ">
              <a href="#" style="font-weight:bold;">POLING</a>
            </div>
            <div style="padding:10px; background:#FFF;">
              <form action='' method="POST">
                <div style="font-size:16px; font-weight: bold;">Apakah anda puas dengan layanan kami?</div>
                <div>
                  <label>
                    <input name="jawaban" type="radio" value="Sangat Puas" title="Puas" />
                    &nbsp;&nbsp;Sangat Puas
                  </label>
                  <br />
                  <label>
                    <input name="jawaban" type="radio" value="Puas" title="Puas" />
                    &nbsp;&nbsp;Puas
                  </label>
                  <br />
                  <label>
                    <input name="jawaban" type="radio" value="Kurang Puas" title="Puas" />
                    &nbsp;&nbsp;Kurang Puas
                  </label>
                  <br />
                  <label>
                    <input name="jawaban" type="radio" value="Buruk" title="Puas" />
                    &nbsp;&nbsp;Buruk
                  </label>


                </div>
                <button name="kirim" class="btn btn-danger btn-block">Kirim Vote</button>
              </form>
            </div>
            <hr />
            <div style="background:#0052C2; padding: 10px; ">
              <a href="#" style="font-weight:bold;">HASIL POLING</a>
            </div>
            <div style="padding:10px; background:#FFF;">
              <table width="100%">
                <tr>
                  <td width="40%">Sangat Puas</td>
                  <td style="text-align: right;">

                    <div style="width:100%; background: #E6E6E6; border-radius: 4px;">
                      <div style="text-align:left;;width:48%;  background: #3FB0FF; border-radius: 4px;">
                        <span style="font-size:10px; margin-top:2px; margin-bottom: 2px; margin-left: 10px;">48%</span>
                      </div>

                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Puas</td>
                  <td style="text-align: right;">
                    <div style="width:100%; background: #E6E6E6; border-radius: 4px;">
                      <div style="text-align:left;;width:31%;  background: #3FB0FF; border-radius: 4px;">
                        <span style="font-size:10px; margin-top:2px; margin-bottom: 2px; margin-left: 10px;">31%</span>
                      </div>

                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Kurang Puas</td>
                  <td style="text-align: right;">
                    <div style="width:100%; background: #E6E6E6; border-radius: 4px;">
                      <div style="text-align:left;;width:7%;  background: #3FB0FF; border-radius: 4px;">
                        <span style="font-size:10px; margin-top:2px; margin-bottom: 2px; margin-left: 10px;">7%</span>
                      </div>

                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Buruk</td>
                  <td style="text-align: right;">
                    <div style="width:100%; background: #E6E6E6; border-radius: 4px;">
                      <div style="text-align:left;;width:14%;  background: #3FB0FF; border-radius: 4px;">
                        <span style="font-size:10px; margin-top:2px; margin-bottom: 2px; margin-left: 10px;">14%</span>
                      </div>

                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div>
              <div style="margin-top:10px;">
                <img style="width:100%; border-radius: 2px;"
                  src="https://dp3a.baubaukota.go.id/index.php/images/banner?f=3097374440&w=500&h=500" />
              </div>
              <div style="margin-top:10px;">
                <img style="width:100%; border-radius: 2px;"
                  src="https://dp3a.baubaukota.go.id/index.php/images/banner?f=5345431107&w=500&h=500" />
              </div>
              <div style="margin-top:10px;">
                <img style="width:100%; border-radius: 2px;"
                  src="https://dp3a.baubaukota.go.id/index.php/images/banner?f=6068070438&w=500&h=500" />
              </div>
              <div style="margin-top:10px;">
                <img style="width:100%; border-radius: 2px;"
                  src="https://dp3a.baubaukota.go.id/index.php/images/banner?f=9210221760&w=500&h=500" />
              </div>
              <div style="margin-top:10px;">
                <img style="width:100%; border-radius: 2px;"
                  src="https://dp3a.baubaukota.go.id/index.php/images/banner?f=6743343628&w=500&h=500" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <style>
        #c-galeri :hover {
          animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
          transform: translate3d(0, 0, 0);
          backface-visibility: hidden;
          perspective: 1000px;
        }
      </style>
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div>
                <div>
                </div>
              </div>
              <div class="col-lg-12">
                <a href="/index.php/galeri.html" style="background:#D60000;" class="btn btn-dark float-right">Lihat
                  Semua</a>
                <h3>Galeri Kegiatan</h3>
                <hr />
                <div class="row">
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=0" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=8360722359" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=1" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=4316215971" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=2" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=1930395507" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=3" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=6458946335" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=4" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=6255912352" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=5" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=8319274398" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=6" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=6983091352" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=7" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=8697894973" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=8" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=3559505227" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=9" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=9701211941" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=10" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=5889537416" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=11" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=5522032678" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=12" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=7756963948" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=13" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=9986601675" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=14" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=4137165149" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=15" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=8065244267" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=16" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=1752508258" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=17" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=8711604277" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=18" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=7695719686" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=19" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=5688415800" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=20" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=3300563245" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=21" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=3338590361" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=22" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=3686609807" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=23" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=9906298456" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=24" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=6006785215" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=25" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=7412955538" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=26" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=3024373806" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=27" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=4437391663" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=28" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=1808461960" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=29" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=4326274060" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=30" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=7691245716" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=31" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=5618900062" />
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div id="c-galeri">
                      <a href="/index.php/site/lihat_foto?index=32" title="Klik Untuk melihat foto">
                        <img style="width:100%; border-radius: 3px;"
                          src="https://dp3a.baubaukota.go.id/index.php/images/galeri?w=300&h=300&f=5125032666" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div style="background:#565656;color:#FFF;" class="container-fluid">
          <div class="youtube-area video-padding">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <div class="video-items-active">
                    <div class="video-items text-center">
                      <iframe src="https://www.youtube.com/embed/-SpBddFDAEo" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </div>
                    <div class="video-items text-center">
                      <iframe src="https://www.youtube.com/embed/NHmmQU7fdQo" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </div>
                    <div class="video-items text-center">
                      <iframe src="https://www.youtube.com/embed/pQlchPdP6kk" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </div>
                    <div class="video-items text-center">
                      <iframe src="https://www.youtube.com/embed/OQ2tOTU4fik" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </div>
                    <div class="video-items text-center">
                      <iframe src="https://www.youtube.com/embed/5lru4dfPSWI" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </div>
                    <div class="video-items text-center">
                      <iframe src="https://www.youtube.com/embed/CEzMyhgChfU" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </div>
                    <div class="video-items text-center">
                      <iframe src="https://www.youtube.com/embed/dRFWGgXq3uE" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </div>
                    <div class="video-items text-center">
                      <iframe src="https://www.youtube.com/embed/19FHxnVagwA" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
              <div class="video-info">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="video-caption">
                      <div class="top-caption">
                        <span class="color1">Youtube Video</span>
                      </div>
                      <div style="color:#FFF;" class="bottom-caption">
                        <h2 style="color:#fff;">Dinas Pemberdayaan Perempuan dan Perlindungan Anak Kota Baubau</h2>
                        <p></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="testmonial-nav text-center">
                      <div class="single-video">
                        <iframe src="https://www.youtube.com/embed/-SpBddFDAEo" frameborder="0"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                        <div class="video-intro">
                          <h4 style="color:#FFF;">Bullying Short Movie</h4>
                        </div>
                      </div>
                      <div class="single-video">
                        <iframe src="https://www.youtube.com/embed/NHmmQU7fdQo" frameborder="0"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                        <div class="video-intro">
                          <h4 style="color:#FFF;">Short Movie - KDRT (Media Komunikasi, Informasi dan Edukasi/KIE)</h4>
                        </div>
                      </div>
                      <div class="single-video">
                        <iframe src="https://www.youtube.com/embed/pQlchPdP6kk" frameborder="0"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                        <div class="video-intro">
                          <h4 style="color:#FFF;">DP3A dan Bapas Kota Baubau Buka Pelayanan Konseling, Konsultasi
                            Psikologi
                            dan Hukum Gratis</h4>
                        </div>
                      </div>
                      <div class="single-video">
                        <iframe src="https://www.youtube.com/embed/OQ2tOTU4fik" frameborder="0"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                        <div class="video-intro">
                          <h4 style="color:#FFF;">Puspaga DP3A dan Komunitas Kesehatan Jiwa kota Baubau</h4>
                        </div>
                      </div>
                      <div class="single-video">
                        <iframe src="https://www.youtube.com/embed/5lru4dfPSWI" frameborder="0"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                        <div class="video-intro">
                          <h4 style="color:#FFF;">Pusat Pembelajaran Keluarga (Puspaga) DP3A Kota Baubau</h4>
                        </div>
                      </div>
                      <div class="single-video">
                        <iframe src="https://www.youtube.com/embed/CEzMyhgChfU" frameborder="0"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                        <div class="video-intro">
                          <h4 style="color:#FFF;">Penandatanganan MOU Pemkot Baubau dengan Organisasi Profesi (Biro
                            Layanan
                            Psikologi Meta)</h4>
                        </div>
                      </div>
                      <div class="single-video">
                        <iframe src="https://www.youtube.com/embed/dRFWGgXq3uE" frameborder="0"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                        <div class="video-intro">
                          <h4 style="color:#FFF;">Penggerakan Masyarakat dalam Upaya Pencegahan KtPA dan TPPO</h4>
                        </div>
                      </div>
                      <div class="single-video">
                        <iframe src="https://www.youtube.com/embed/19FHxnVagwA" frameborder="0"
                          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>
                        <div class="video-intro">
                          <h4 style="color:#FFF;">kawin lari</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



        <%- include("partial-page/header.ejs")%>
          <!-- JS here -->

          <!-- All JS Custom Plugins Link Here here -->
          <script src="/template/assets/js/vendor/modernizr-3.5.0.min.js"></script>
          <!-- Jquery, Popper, Bootstrap -->

          <script src="/template/assets/js/popper.min.js"></script>
          <script src="/template/assets/js/bootstrap.min.js"></script>
          <!-- Jquery Mobile Menu -->
          <script src="/template/assets/js/jquery.slicknav.min.js"></script>

          <!-- Jquery Slick , Owl-Carousel Plugins -->
          <script src="/template/assets/js/owl.carousel.min.js"></script>
          <script src="/template/assets/js/slick.min.js"></script>
          <!-- Date Picker -->
          <script src="/template/assets/js/gijgo.min.js"></script>
          <!-- One Page, Animated-HeadLin -->
          <script src="/template/assets/js/wow.min.js"></script>
          <script src="/template/assets/js/animated.headline.js"></script>
          <script src="/template/assets/js/jquery.magnific-popup.js"></script>

          <!-- Breaking New Pluging -->
          <script src="/template/assets/js/jquery.ticker.js"></script>
          <script src="/template/assets/js/site.js"></script>

          <!-- Scrollup, nice-select, sticky -->
          <script src="/template/assets/js/jquery.scrollUp.min.js"></script>
          <script src="/template/assets/js/jquery.nice-select.min.js"></script>
          <script src="/template/assets/js/jquery.sticky.js"></script>

          <!-- contact js -->
          <script src="/template/assets/js/contact.js"></script>
          <script src="/template/assets/js/jquery.form.js"></script>
          <script src="/template/assets/js/jquery.validate.min.js"></script>
          <script src="/template/assets/js/mail-script.js"></script>
          <script src="/template/assets/js/jquery.ajaxchimp.min.js"></script>

          <!-- Jquery Plugins, main Jquery -->
          <script src="/template/assets/js/plugins.js"></script>
          <script src="/template/assets/js/main.js"></script>

</body>

</html>